In [ ]:
# Typical API data formats

In [ ]:
#CSV
Country,Time,Sex,Age,Value
United Kingdom,1950,Male,0-4,2238.735
United States of America,1950,Male,0-4,8812.309

In [ ]:
#JSON
{
"population": [
{
"Country": "United Kingdom",
"Time": 1950,
"Sex", "Male",
"Age", "0-4",
"Value",2238.735
},{
"Country": "United States of America",
"Time": 1950,
"Sex", "Male",
"Age", "0-4",
"Value",8812.309
},
]
}

In [ ]:
#XML
<?xml version='1.0' encoding='utf-8'?>
<populations>
<population>
<Country>United Kingdom</Country>
<Time>1950</Time>
<Sex>Male</Sex>
<Age>0-4</Age>
<Value>2238.735</Value>
</population>
<population>
<Country>United States of America</Country>
<Time>1950</Time>
<Sex>Male</Sex>
<Age>0-4</Age>
<Value>8812.309</Value>
</population>
</populations>

In [ ]:
# Importing online population data in the CSV format

In [12]:
import pandas as pd                  
import numpy as np
# URL for Annual Population by Age and Sex - Department of Economic and Social Affairs, United Nations
source = "https://github.com/PacktPublishing/Matplotlib-2.x-By-Example/raw/\
master/WPP2015_DB04_Population_Annual.zip"

population_df = pd.read_csv(source, header=0, compression='zip',encoding='latin_1') 
population_df.head() # Show the first five rows of the DataFrame

,LocID,Location,VarID,Variant,Time,MidPeriod,SexID,Sex,AgeGrp,AgeGrpStart,AgeGrpSpan,Value
0,4,Afghanistan,2,Medium,1950,1950.5,1,Male,0-4,0,5,630.044
1,4,Afghanistan,2,Medium,1950,1950.5,1,Male,5-9,5,5,516.205
2,4,Afghanistan,2,Medium,1950,1950.5,1,Male,10-14,10,5,461.378
3,4,Afghanistan,2,Medium,1950,1950.5,1,Male,15-19,15,5,414.368
4,4,Afghanistan,2,Medium,1950,1950.5,1,Male,20-24,20,5,374.110

In [13]:
from pycountry import countries


def get_alpha_3(location):
    """Convert full country name to three letter code (ISO 3166 alpha-3)
     
    Args:
        location: Full location name
    Returns:
        three letter code or None if not found"""
    
    try:
        return countries.get(name=location).alpha_3
    except:
        return None
    
# Add a new country column to the dataframe
population_df['country'] = population_df['Location'].apply(lambda x: get_alpha_3(x))
population_df.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,SexID,Sex,AgeGrp,AgeGrpStart,AgeGrpSpan,Value,country
0,4,Afghanistan,2,Medium,1950,1950.5,1,Male,0-4,0,5,630.044,AFG
1,4,Afghanistan,2,Medium,1950,1950.5,1,Male,5-9,5,5,516.205,AFG
2,4,Afghanistan,2,Medium,1950,1950.5,1,Male,10-14,10,5,461.378,AFG
3,4,Afghanistan,2,Medium,1950,1950.5,1,Male,15-19,15,5,414.368,AFG
4,4,Afghanistan,2,Medium,1950,1950.5,1,Male,20-24,20,5,374.110,AFG

In [ ]:
#Importing online financial data in the JSON format

In [ ]:
GET https://www.quandl.com/api/v3/datasets/{Quandl code}/data.json

In [14]:
from urllib.request import urlopen
import json
import time
import pandas as pd


def get_bigmac_codes():
    """Get a Pandas DataFrame of all codes in the Big Mac index dataset

    The first column contains the code, while the second header
    contains the description of the code.
    
    E.g. 
    ECONOMIST/BIGMAC_ARG,Big Mac Index - Argentina
    ECONOMIST/BIGMAC_AUS,Big Mac Index - Australia
    ECONOMIST/BIGMAC_BRA,Big Mac Index - Brazil
    
    Returns:
        codes: Pandas DataFrame of Quandl dataset codes"""
    
    codes_url = "https://www.quandl.com/api/v3/databases/ECONOMIST/codes"
    codes = pd.read_csv(codes_url, header=None, names=['Code', 'Description'], 
                        compression='zip', encoding='latin_1')
    
    return codes

    
def get_quandl_dataset(api_key, code):
    """Obtain and parse a quandl dataset in Pandas DataFrame format

    Quandl returns dataset in JSON format, where data is stored as a 
    list of lists in response['dataset']['data'], and column headers
    stored in response['dataset']['column_names'].
    
    E.g. {'dataset': {...,
             'column_names': ['Date',
                              'local_price',
                              'dollar_ex',
                              'dollar_price',
                              'dollar_ppp',
                              'dollar_valuation',
                              'dollar_adj_valuation',
                              'euro_adj_valuation',
                              'sterling_adj_valuation',
                              'yen_adj_valuation',
                              'yuan_adj_valuation'],
             'data': [['2017-01-31',
                       55.0,
                       15.8575,
                       3.4683903515687,
                       10.869565217391,
                       -31.454736135007,
                       6.2671477203176,
                       8.2697553162259,
                       29.626894343348,
                       32.714616745128,
                       13.625825886047],
                      ['2016-07-31',
                       50.0,
                       14.935,
                       3.3478406427854,
                       9.9206349206349,
                       -33.574590420925,
                       2.0726096168216,
                       0.40224795003514,
                       17.56448458418,
                       19.76377270142,
                       11.643103380531]
                      ],
             'database_code': 'ECONOMIST',
             'dataset_code': 'BIGMAC_ARG',
             ... }}
    
    A custom column--country is added to denote the 3-letter country code.
    
    Args:
        api_key: Quandl API key
        code: Quandl dataset code

    Returns:
        df: Pandas DataFrame of a Quandl dataset

    """
    base_url = "https://www.quandl.com/api/v3/datasets/"
    url_suffix = ".json?api_key="

    # Fetch the JSON response 
    u = urlopen(base_url + code + url_suffix + api_key)
    response = json.loads(u.read().decode('utf-8'))
    
    # Format the response as Pandas Dataframe
    df = pd.DataFrame(response['dataset']['data'], columns=response['dataset']['column_names'])
    
    # Label the country code
    df['country'] = code[-3:]
    
    return df


quandl_dfs = []
codes = get_bigmac_codes()

# Replace this with your own API key
api_key = "sGHKyHvLbvH1_yfvnUyb" 

for code in codes.Code:
    # Get the DataFrame of a Quandl dataset
    df = get_quandl_dataset(api_key, code)
    
    # Store in a list
    quandl_dfs.append(df)
    
    # Prevents exceeding the API speed limit
    time.sleep(2)
    
    
# Concatenate the list of dataframes into a single one    
bigmac_df = pd.concat(quandl_dfs)
bigmac_df.head()

,Date,local_price,dollar_ex,dollar_price,dollar_ppp,dollar_valuation,dollar_adj_valuation,euro_adj_valuation,sterling_adj_valuation,yen_adj_valuation,yuan_adj_valuation,country
0,2017-07-31,70.0,16.96750,4.125534,13.207547,-22.159734,20.7455,18.9336,40.2804,64.0162,33.5225,ARG
1,2017-01-31,55.0,15.85750,3.468390,10.869565,-31.454736,6.26715,8.26976,29.6269,32.7146,13.6258,ARG
2,2016-07-31,50.0,14.93500,3.347841,9.920635,-33.574590,2.07261,0.402248,17.5645,19.7638,11.6431,ARG
3,2016-01-31,33.0,13.80925,2.389703,6.693712,-51.527332,-24.8619,-18.714,-18.7209,0.40859,-17.029,ARG
4,2015-07-31,28.0,9.13500,3.065134,5.845511,-36.009727,-4.7585,-0.357918,-6.01091,30.8609,5.02868,ARG